@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  background-color: #fec7d7;
  font-family: "Poppins", sans-serif;
  color: #0e172c;
}
/* customize scroll bar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #0e172c;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.button {
  background-color: #0e172c;
}
.active,
.logout {
  color: white;
  background-color: #0e172c;
  font-weight: bolder;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
}
task-container {
  height: 90vh;
  background-color: #a786df;
  box-shadow: 4px 4px 4px;
}

.addTask {
  height: 10vh;
  background-color: #0e172c;
  padding: 10px;
}
.outlet {
  height: 80vh;
  background-color: whitesmoke;
  border-radius: 7px;
  box-shadow: 4px 4px 4px;
  padding: 1rem;
  overflow: auto;
}
.indicator {
  display: flex;
  align-items: center;
  height: 10vh;
  margin: auto 10px;
}
